<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/main.css') }}"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="app">
      <div class="container server-status">
        <div class="server-url">mcserver.ugurgunes.online</div>
      </div>
      <div class="container login-form">
        <div class="notification-container-image">
          <img
            src="{{ url_for('static',filename='images/mc-icon.png') }}"
            alt=""
          />
        </div>
        <div class="login-screen-title">Giriş Yap</div>
        <div class="login-screen-desc">
          Giriş yaparak Minecraft'ın eğlenceli dünyasına derin dalış yap
        </div>
        <div
          style="
            background-color: #e74c3c;
            padding: 16px;
            color: #fff;
            font-size: 14px;
          "
        >
          {% with messages = get_flashed_messages() %} {% if messages %} {% for
          message in messages %} {{ message }} {% endfor %} {% endif %} {%
          endwith %}
        </div>
        <form action="/auth" method="post">
          <input type="text" placeholder="Kullanıcı Adı" name="username" />
          <input type="password" placeholder="Şifre" name="password" />
          <button type="submit" class="standart-button">Giriş Yap</button>
        </form>
      </div>
    </div>
  </body>
</html>
